<div class="vpad--xxl bg__fixed">
  <div class="bg__fixed-wrap">
    <div class="bg--dark bg__fixed-img" style="background-image: url('{{site.img}}/content/offer-footer.jpg');"></div>
  </div>
  <div class="container">

    <div class="width width--lg text--center text--white">
      <h2 class="title title--xxl">Offers</h2>
      <div class="space--xs"></div>
      <p class="text--xxl text--normal">Pack your bags and head to Barbados’ famous white beaches. Compiled by your Secret Escapes team, these offers ensure unforgettable stays in the Caribbean starlet</p>
    </div>

    <div class="vpad--xl">
      {% include offer/variables.html %}
      <div class="row row--xl-6-6 row--gutters-lg">
        {% for offer in offers-by-price limit: 2 %}
          <div class="col">
            {% include offer/offer.html %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="text--center">
      <a href="{{site.baseurl}}/offers" class="btn btn--partner btn--lg">See All Offers</a>
    </div>

  </div>
</div>