---
layout: default
title: Overview
class: overview
nav-order: 1
banner-title: Your Barbados Experiences Start Here
banner-content:
---


{% include banner.html %}


<section>
  <div class="row row--padding">
    {% assign articles = site.pages | where:"layout","article" | sort:"nav-order" %}
    {% for article in articles %}

    <div
      class="overview-box color-white bg-image-ratio bg-image-ratio--16-9"
      style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ article.class }}.jpg');">

      <a class="overview-box--link" href="{{ article.url }}">
        <span class="overview-box--title">{{ article.title }}</span>
      </a>

    </div>

    {% endfor %}
  </div>
</section>


{% include offer-section.html %}