---
layout: default
title: Overview
class: overview
nav-order: 1
banner-title: Your Barbados Experiences Start Here
banner-content:
---


{% include banner.html %}


<section>
  <div class="row row--padding align-center">
    <p class="lead">This sun-drenched Caribbean starlet is the perfect place to indulge mind, body and soul – the beach is calling. </p>
    <p>With over 92km of unspoilt, idyllic coastline, Barbados is a premier destination for lying back on golden sands, and listening to the tranquil seas gently lap against this untouched paradise. Head to the towns and allow the heady atmosphere to intoxicate the spirit, from the soca, the calypso, the rum and the spice. Barbados lives its culture through the joy and hospitality of its people, its stoic recognition of its past, and through its vibrant cultural landscape that makes it a wanderlust destination for so many. For Barbados caters to any needs, and in doing so, shows you what makes this island, and its glorious people, so enigmatic. </p>
  </div>
  <div class="row row--padding">

    {% assign articles = site.pages | where:"layout","article" | sort:"nav-order" %}
    {% for article in articles %}
      <div
        class="overview-box color-white bg-image-ratio bg-image-ratio--16-9"
        style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ article.class }}.jpg');">
        <a class="overview-box--link" href="{{ article.url }}">
          <span class="overview-box--title">{{ article.title }}</span>
        </a>
      </div>
    {% endfor %}

  </div>
</section>


{% include offer-section.html %}