<section id="offers" class="section section--fixed-bg section--side-padding color-white">
  <div class="row row--padding align-center">
    <h2>Barbados featured offers</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae harum quasi magni veniam eos laborum velit, provident laboriosam, distinctio laudantium voluptas natus sapiente nobis, amet.</p>
  </div>

  <div class="row offer-carousel">
    {% assign offers = site.data.offers %}
    {% for offer in offers %}
      {% include offer-block.html class="small" %}
    {% endfor %}
  </div>

  <div class="row row--padding align-center">
    <a class="btn btn--solid" href="{{ site.baseurl }}/offers">View all offers</a>
  </div>

</section>

<script>
  $(document).ready(function(){

    $('.offer-carousel').slick({
      centerMode: true,
      centerPadding: '0',
      accessibility: true,
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 960,
          settings: {
            centerMode: false,
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });

  });



</script>
