// general typographic styles

@font-face {
  font-family: 'Black Bamboo';
  src: url('../font/black-bamboo.eot');
  src: url('../font/black-bamboo.eot?#iefix') format('embedded-opentype'),
    url('../font/black-bamboo.woff') format('woff'),
    url('../font/black-bamboo.ttf') format('truetype'),
    url('../font/black-bamboo.svg#black-bamboo') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-bb { font-family: 'Arial Narrow'; }
.loaded .font-bb { font-family: "Black Bamboo"; }

// -------- root typography styles --------

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
$title-font-family: 'Montserrat', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  -webkit-text-size-adjust: 100%;
  color: $text-paragraph;
  @include bp(medium) {
    font-size: 16px;
  }
}


// -------- Headings --------

h1,
h2,
h3,
h4,
h5 {
  font-family: $title-font-family;
  color: $text-heading;
  line-height: 1.2;
}

h1 {
  font-size: 3.375em;
  + * { margin-top: 0.667em; }
  @include bp(medium) {
    font-size: 4em;
  }
  @include bp(large) {
    font-size: 5.063em;
  }
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  + * { margin-top: 0.667em; }
  @include bp(medium) {
    font-size: 2.488em;
  }
  @include bp(large) {
    font-size: 2.986em;
  }
}

h3 {
  font-size: 1.728em;
  + * { margin-top: 0.667em; }
  @include bp(medium) {
    font-size: 2.074em;
  }
  @include bp(large) {
    font-size: 2.488em;
  }
}

h4 {
  font-size: 1.728em;
  + * { margin-top: 0.667em; }
}


// -------- Lists --------

ul {
  li {}
}

ol {
  li {}
}

dl {
  dt { margin-bottom: 5px; }
  dd {}
}

.list {
  &--horizontal {
    list-style: none; padding: 0; margin: 0;
    li {
      display: inline-block; position: relative; padding: 0 1em; margin: 0.5em 0;
    }
    li + li:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      height: 100%;
      width: 1px;
      background-color: #dedede;
      transform: translateY(-50%);
    }
  }
  &--lined {
    li {
      list-style: none;
      font-size: 0.9em;
      padding: 4px 0;
    }
    li + li { border-top: 1px solid #dedede; }
  }
}

// -------- general content styles --------

p             { max-width: 720px; }
p + *         { margin-top: 1em; }
.lead         { font-size: 1.3em; line-height: 1.4; font-weight: 400; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 600; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }
p.align-center,
.align-center p { text-align: center; margin-left: auto; margin-right: auto; }

hr {
  border: 0;
  height: 1px;
  background-color: $light-grey;
  margin: 1em 0;
}

.color-white {
  color: #fff;
  p,h1,h2,h3,h4,h5,
  .h1,.h2,.h3,.h4,.h5 { color: #fff; }
  hr { background-color: $white-15; }

  .list--horizontal li:after { background-color: $white-15; }
  .list--lined li { border-top: 1px solid $white-15; }
}

.color-default {
  color: $text-paragraph;
  h1,h2,h3,h4,h5,
  .h1,.h2,.h3,.h4,.h5 { color: $text-heading; }
  hr { background-color: $light-grey; }
}



.spaced-caps {
  letter-spacing: 0.1em; text-transform: uppercase; font-size: 0.9em;
  font-weight: 600;
  font-family: $title-font-family;
}
