<div class="section bg__fixed">
  <div class="bg__fixed-wrap">
    <div class="bg__fixed-img" style="background-image: url('{{site.baseurl}}/img/content/offer-banner.jpg');"></div>
  </div>
  <div class="row row--padding">

    {% assign external-offers = site.data.external-offers  | sort: 'saved' | reverse %}

    <div class="row text--center text--white">
      {% for page in site.html_pages %}
        {% if page.id == 'offers' %}
          <h3 class="title title--display title--xl">{{page.title}}</h3>
          <p class="text--xl line-length--lg">{{page.intro}}</p>
        {% endif %}
      {% endfor %}
      <div class="space--lg"></div>
    </div>

    <div class="row">
      {% for offer in external-offers limit:2 %}
        {% include components/offer-external.html %}
      {% endfor %}
    </div>

    <div class="row text--center">
      <a href="{{site.baseurl}}/offers" class="btn btn--lg btn--blue">See All Offers</a>
    </div>

  </div>
</div>