<div class="offer offer--external">

  <a class="offer__link" href="{{ offer.link }}"><span class="btn btn--blue">View Offer</span></a>

  <div class="bg-img bg-img--3-2" style="background-image: url('{{ site.baseurl }}/img/offers/{{offer.id}}.jpg')">
  </div>

  <div class="offer__content">
    <h3 class="offer__title">{{ offer.title }}</h3>
    <div class="space--xxs"></div>
    <div class="offer__description">{{ offer.description}}</div>

    <div class="offer__bottom">
      <div class="offer__bottom-item">
        <div class="offer__saved">
          <span>Save up to</span> <span class="offer__saved-num">{{ offer.saved }}%</span>
        </div>
        <div class="offer__details">
          <div>From <span class="offer__price">£{{ offer.price }}</span></div>
          <div class="text--sm">{{ offer.price-description }}</div>
        </div>
      </div>
      <div class="offer__bottom-item offer__bottom-item--right"><div class="offer__arrow"></div></div>
    </div>

  </div>

</div>