---
layout: default
title: Offers
class: offers
nav-order: 7
banner-title:
banner-content:

intro-title: Offers
intro-content: >
  <p class="lead-paragraph">Pack your bags and head to Barbados’ famous white beaches. Compiled by your Secret Escapes team, these offers ensure unforgettable stays in the Caribbean starlet</p>
---


{% include banner.html %}


<section>
  <div class="row row--padding align-center">
    <h2>{{ page.intro-title }}</h2>
    {{ page.intro-content }}
  </div>
</section>



<section class="section section--light-grey-bg">
  <div class="row">
    {% assign offers = site.data.offers %}
    {% for offer in offers %}
      {% include offer-block.html %}
    {% endfor %}
  </div>
</section>

