---
layout: default
---


{% include banner.html %}


<section>
  <div class="row row--padding align-center">
    <h2>{{ page.intro-title }}</h2>
    {{ page.intro-content }}
  </div>

  <div class="row row--padding align-center">
    <ul class="list--horizontal">
      {% for section in page.sections %}
      <li><a href="#{{section.class}}" class="spaced-caps">{{section.title}}</a></li>
      {% endfor %}
      <li><a href="#offers" class="spaced-caps">Offers</a></li>
    </ul>

  </div>
</section>



{% for section in page.sections %}

<div id="{{ section.class }}" class="article-section row--columns-6-6 row--columns-vertical-align {% cycle "", "article-section--swap" %}">

  <div class="article-section--image row__column bg-image-ratio bg-image-ratio--4-3" style="background-image: url('{{ site.baseurl }}/img/content/{{ section.class }}.jpg');"></div>

  <div class="row__column">
    <div class="article-section--content">
      <div class="article-section--content-inner">
        <h4>{{ section.title | upcase }}</h4>
        <p>{{ section.content }}</p>
      </div>
    </div>
  </div>

</div>

{% endfor %}


{% include offer-section.html %}
