---
layout: default
---

<div class="container vpad--xxl">
  <div class="width width--lg text--center">
    <p class="core-title core-title--xxs">{{page.intro}}</p>
  </div>
  <div class="space--xl"></div>
  <ul class="nav-list">
    {% for topic in page.topics %}<li class="nav-list__item"><a href="#{{topic.id}}" class="nav-list__link">{{topic.title}}</a></li>{% endfor %}
  </ul>
</div>

{% for topic in page.topics %}
<div id="{{topic.id}}" class="harvey{% cycle '', ' harvey--swap' %} bg--texture">
  <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{page.id}}/topics/{{topic.id}}.jpg');"></div>
  <div class="harvey__text">
    <div class="title title--md title--color">{{topic.title}}</div>
    <p>{{topic.description}}</p>
  </div>
</div>
{% endfor %}