---
layout: default
---

{% include page/banner.html %}

<div class="page__content">

  <div class="space--xl"></div>

  <div class="row row--padding row--xl text--center">
    <p class="text--xxl line-length--lg">{{page.intro}}</p>
  </div>

  <div class="row row--padding">
    <ul class="nav-list">
      {% for poi in page.pois %}<li class="nav-list__item"><a href="#{{poi.id}}" class="nav-list__link">{{poi.title}}</a></li>{% endfor %}
    </ul>
  </div>

  <div class="space--xl"></div>

  {% for poi in page.pois %}
    <div id="{{poi.id}}" class="henry{% cycle: '', ' henry--swap' %}">
      <div class="henry__image" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{poi.id}}.jpg');"></div>
      <div class="henry__text bg--texture bg--grey">
        <div class="row row--lg">
          <div class="title title--display title--md text--blue-dark">{{poi.title}}</div>
          <p>{{poi.content}}</p>
        </div>
      </div>
    </div>
  {% endfor %}

  {% include components/offer-highlights.html %}

</div>